@model IEnumerable<back_end_crud.Models.Usuarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro de usuários</h1>

<p>
    <a asp-action="Create">Criar um novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeLocation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Email">Alterar</a> |
                <a asp-action="Delete" asp-route-id="@item.Email">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
